h1 {
  /* font styling */
  /* font-style: italic;
  font-family: sans-serif, arial;
  font-size: 50px;
  font-weight: 500;
  line-height: normal; */
  /* text styling */
  /* color: red;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-indent: 10px; */
}
